docs/LogicApp_RefreshCube_UAT_Workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST"
                }
            }
        },
        "actions": {
            "Initialize_QueryJsonResult_variable": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "QueryJsonResult",
                            "type": "string",
                            "value": "@string(triggerBody())"
                        }
                    ]
                },
                "runAfter": {}
            },
            "MasterEtlLineageKey": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "MasterEtlLineageKey",
                            "type": "integer",
                            "value": "@int(json(variables('QueryJsonResult')).MasterEtlLineageKey)"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_QueryJsonResult_variable": [
                        "Succeeded"
                    ]
                }
            },
            "Get_List_CubeName": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['sql-1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": {
                        "query": "SELECT c.CubeModelName\nFROM [ETL].[DataWarehouseAndCubeMapping] f\nJOIN [ETL].[CountryModelCube] c on f.CountryKey = c.CountryKey\nWHERE f.CountryKey IN (SELECT TOP 1 [MasterSettings_CountryKey] FROM [ETL].[vw_EtlLog] WHERE LineageKey = @{variables('MasterEtlLineageKey')}  AND [MasterSettings_CountryKey] IS NOT NULL)\nGROUP BY c.CubeModelName"
                    },
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/query/sql"
                },
                "runAfter": {
                    "MasterEtlLineageKey": [
                        "Succeeded"
                    ]
                }
            },
            "varDatabaseResults": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "varDatabaseResults",
                            "type": "array",
                            "value": []
                        }
                    ]
                },
                "runAfter": {
                    "Get_List_CubeName": [
                        "Succeeded"
                    ]
                }
            },
            "varSlowTables": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "varSlowTables",
                            "type": "array",
                            "value": []
                        }
                    ]
                },
                "runAfter": {
                    "varDatabaseResults": [
                        "Succeeded"
                    ]
                }
            },
            "Scale_Up": {
                "type": "Function",
                "inputs": {
                    "body": {},
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "function": {
                        "id": "/subscriptions/8730775e-045c-47d1-a080-e3b9882cec01/resourceGroups/vn-rg-sa-sdp-solution-p/providers/Microsoft.Web/sites/vn-fa-sa-sdp-p-aas/functions/DHRefreshAAS_ScaleUp"
                    }
                },
                "runAfter": {
                    "varSlowTables": [
                        "Succeeded"
                    ]
                }
            },
            "For_each": {
                "type": "Foreach",
                "foreach": "@body('Get_List_CubeName')?['resultsets']?['Table1']",
                "actions": {
                    "Get_AAS_Model_Tables_JSON_Format": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['sql-1']['connectionId']"
                                }
                            },
                            "method": "post",
                            "body": {
                                "query": "DECLARE @CountryKey INT = (SELECT TOP 1 MasterSettings_CountryKey FROM etl.vw_EtlLog etllog WHERE etllog.LineageKey = @{variables('MasterEtlLineageKey')} AND MasterSettings_CountryKey IS NOT NULL); \nWITH etlLog AS (\n    SELECT\n        etllog.SchemaName,\n        etllog.TableName,\n        @CountryKey AS CountryKey,\n        SUM(\n            COALESCE(etllog.ActivityOutput_LoadInsertedRows, 0)\n            + COALESCE(etllog.ActivityOutput_LoadUpdatedRows, 0)\n            + COALESCE(etllog.ActivityOutput_LoadDeletedRows, 0)\n        ) AS ChangedRowCount\n    FROM etl.vw_EtlLog etllog\n    WHERE etllog.LineageKey = @{variables('MasterEtlLineageKey')}\n        AND etllog.StageName = 'LOAD'\n        AND etllog.ActivityStatus = 'Succeeded'\n    GROUP BY etllog.SchemaName, etllog.TableName\n    HAVING SUM(\n        COALESCE(etllog.ActivityOutput_LoadInsertedRows, 0)\n        + COALESCE(etllog.ActivityOutput_LoadUpdatedRows, 0)\n        + COALESCE(etllog.ActivityOutput_LoadDeletedRows, 0)\n    ) > 0\n    UNION ALL\n    SELECT 'ETL', 'vw_EtlLog', @CountryKey, NULL\n), candidate AS (\n    SELECT\n        cube.CubeName,\n        cube.CubeTableName,\n        cube.Partition,\n        ISNULL(cube.RefreshType, 'Full') AS RefreshType,\n        ISNULL(cube.IsIgnored, 0) AS IsIgnored,\n        NULLIF(LTRIM(RTRIM(cube.IgnoreReason)), '') AS IgnoreReason,\n        NULLIF(LTRIM(RTRIM(cube.FixGuide)), '') AS FixGuide,\n        NULLIF(LTRIM(RTRIM(cube.OwnerEmails)), '') AS OwnerEmails,\n        NULLIF(LTRIM(RTRIM(cube.GuardrailType)), '') AS GuardrailType,\n        ISNULL(cube.RequirePartition, 0) AS RequirePartition,\n        cube.MaxRowsPerRun,\n        cube.MaxLookbackMonths,\n        MAX(etlLog.ChangedRowCount) AS ChangedRowCount,\n        CASE\n            WHEN ISNULL(cube.IsIgnored, 0) = 1 THEN 0\n            WHEN ISNULL(cube.RequirePartition, 0) = 1 AND NULLIF(LTRIM(RTRIM(ISNULL(cube.Partition, ''))), '') IS NULL THEN 0\n            WHEN cube.MaxRowsPerRun IS NOT NULL AND ISNULL(MAX(etlLog.ChangedRowCount), 0) > cube.MaxRowsPerRun THEN 0\n            ELSE 1\n        END AS IsRunnable,\n        CASE\n            WHEN ISNULL(cube.IsIgnored, 0) = 1 THEN COALESCE(NULLIF(LTRIM(RTRIM(cube.IgnoreReason)), ''), 'Manually ignored in etl.datawarehouseandcubemapping.')\n            WHEN ISNULL(cube.RequirePartition, 0) = 1 AND NULLIF(LTRIM(RTRIM(ISNULL(cube.Partition, ''))), '') IS NULL THEN 'Partition is required before this table can be refreshed.'\n            WHEN cube.MaxRowsPerRun IS NOT NULL AND ISNULL(MAX(etlLog.ChangedRowCount), 0) > cube.MaxRowsPerRun THEN CONCAT('Change volume ', CONVERT(NVARCHAR(30), ISNULL(MAX(etlLog.ChangedRowCount), 0)), ' exceeds MaxRowsPerRun ', CONVERT(NVARCHAR(30), cube.MaxRowsPerRun), '.')\n            ELSE NULL\n        END AS EffectiveIgnoreReason,\n        CASE\n            WHEN ISNULL(cube.IsIgnored, 0) = 1 THEN COALESCE(NULLIF(LTRIM(RTRIM(cube.GuardrailType)), ''), 'ManualIgnore')\n            WHEN ISNULL(cube.RequirePartition, 0) = 1 AND NULLIF(LTRIM(RTRIM(ISNULL(cube.Partition, ''))), '') IS NULL THEN 'RequirePartition'\n            WHEN cube.MaxRowsPerRun IS NOT NULL AND ISNULL(MAX(etlLog.ChangedRowCount), 0) > cube.MaxRowsPerRun THEN 'MaxRowsPerRun'\n            ELSE COALESCE(NULLIF(LTRIM(RTRIM(cube.GuardrailType)), ''), 'RuntimeGuidance')\n        END AS EffectiveGuardrailType\n    FROM etlLog\n    INNER JOIN etl.datawarehouseandcubemapping cube\n        ON etlLog.SchemaName = cube.SchemaName\n        AND etlLog.TableName = cube.TableName\n        AND cube.CubeName = '@{items('For_each')?['CubeModelName']}'\n        AND ISNULL(cube.IsDisabled, 0) = 0\n    GROUP BY cube.CubeName, cube.CubeTableName, cube.Partition, cube.RefreshType, cube.IsIgnored, cube.IgnoreReason, cube.FixGuide, cube.OwnerEmails, cube.GuardrailType, cube.RequirePartition, cube.MaxRowsPerRun, cube.MaxLookbackMonths\n)\nSELECT\n    MAX(candidate.CubeName) AS DatabaseName,\n    CASE\n        WHEN SUM(CASE WHEN candidate.IsRunnable = 1 THEN 1 ELSE 0 END) = 0 THEN NULL\n        ELSE (\n            SELECT\n                MAX(runnable.CubeName) AS database_name,\n                JSON_QUERY(CONCAT('[', STRING_AGG(CONCAT('{\"table\":\"', STRING_ESCAPE(runnable.CubeTableName, 'json'), '\",\"partition\":\"', STRING_ESCAPE(ISNULL(runnable.Partition, ''), 'json'), '\",\"refreshType\":\"', STRING_ESCAPE(runnable.RefreshType, 'json'), '\"}'), ','), ']')) AS refresh_objects\n            FROM candidate runnable\n            WHERE runnable.IsRunnable = 1\n            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER\n        )\n    END AS RefreshPayload,\n    COALESCE((\n        SELECT\n            ignored.CubeTableName AS [table],\n            ISNULL(ignored.Partition, '') AS partition,\n            ignored.EffectiveIgnoreReason AS ignoreReason,\n            COALESCE(ignored.FixGuide, 'Review source view/query, create or refine partitions, and reduce the data window before re-enabling this table.') AS fixGuide,\n            COALESCE(ignored.OwnerEmails, 'mina.my@deheus.com; Gina.Hai@deheus.com; Anton.Tuan@deheus.com') AS ownerEmails,\n            ignored.EffectiveGuardrailType AS guardrailType,\n            ignored.ChangedRowCount AS changedRowCount,\n            ignored.MaxRowsPerRun AS maxRowsPerRun,\n            ignored.MaxLookbackMonths AS maxLookbackMonths\n        FROM candidate ignored\n        WHERE ignored.IsRunnable = 0\n        FOR JSON PATH\n    ), '[]') AS IgnoredTables,\n    COALESCE(NULLIF(STUFF((\n        SELECT DISTINCT ';' + COALESCE(NULLIF(ignored.OwnerEmails, ''), 'mina.my@deheus.com; Gina.Hai@deheus.com; Anton.Tuan@deheus.com')\n        FROM candidate ignored\n        WHERE ignored.IsRunnable = 0\n        FOR XML PATH(''), TYPE\n    ).value('.', 'nvarchar(max)'), 1, 1, ''), ''), 'mina.my@deheus.com; Gina.Hai@deheus.com; Anton.Tuan@deheus.com') AS WarningRecipients\nFROM candidate"
                            },
                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/query/sql"
                        }
                    },
                    "Ignored_Tables_Condition": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "greater": [
                                        "@length(json(coalesce(body('Get_AAS_Model_Tables_JSON_Format')?['ResultSets']?['Table1'][0]?['IgnoredTables'], '[]')))",
                                        0
                                    ]
                                }
                            ]
                        },
                        "actions": {
                            "Create_Ignored_Tables_HTML": {
                                "type": "Table",
                                "inputs": {
                                    "from": "@json(coalesce(body('Get_AAS_Model_Tables_JSON_Format')?['ResultSets']?['Table1'][0]?['IgnoredTables'], '[]'))",
                                    "format": "HTML"
                                }
                            },
                            "Send_PreRefresh_Warning_Email": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['office365-1']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "body": {
                                        "To": "@{coalesce(body('Get_AAS_Model_Tables_JSON_Format')?['ResultSets']?['Table1'][0]?['WarningRecipients'], 'mina.my@deheus.com; Gina.Hai@deheus.com; Anton.Tuan@deheus.com')}",
                                        "Subject": "[WARNING] Refresh Cube UAT - ignored tables for @{items('For_each')?['CubeModelName']}",
                                        "Body": "<html><body style=\"font-family: Segoe UI, Arial, sans-serif; font-size: 14px; color: #333;\"><h2 style=\"color: #b9770e;\">Refresh Cube Warning (UAT)</h2><p>Cube model <b>@{items('For_each')?['CubeModelName']}</b> has one or more tables excluded before refresh.</p><p>These tables were skipped to avoid a known failure pattern or an oversized load. Please review the guide below before re-enabling them.</p>@{body('Create_Ignored_Tables_HTML')}<br><p>Best regards,<br><b>Data Team</b></p></body></html>",
                                        "From": "DataAnalyticsServices@deheus.com",
                                        "Importance": "High"
                                    },
                                    "path": "/v2/Mail"
                                },
                                "runAfter": {
                                    "Create_Ignored_Tables_HTML": [
                                        "Succeeded"
                                    ]
                                }
                            }
                        },
                        "else": {
                            "actions": {}
                        },
                        "runAfter": {
                            "Get_AAS_Model_Tables_JSON_Format": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Condition": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@empty(body('Get_AAS_Model_Tables_JSON_Format')?['ResultSets']?['Table1'][0]?['RefreshPayload'])",
                                        "@true"
                                    ]
                                }
                            ]
                        },
                        "actions": {
                            "Append_Skipped_Result": {
                                "type": "AppendToArrayVariable",
                                "inputs": {
                                    "name": "varDatabaseResults",
                                    "value": {
                                        "database": "@{items('For_each')?['CubeModelName']}",
                                        "status": "skipped",
                                        "reason": "@{if(greater(length(json(coalesce(body('Get_AAS_Model_Tables_JSON_Format')?['ResultSets']?['Table1'][0]?['IgnoredTables'], '[]'))), 0), 'All candidate tables were ignored by pre-refresh guardrails', 'No tables to refresh')}",
                                        "startTime": "@{utcNow()}",
                                        "endTime": "@{utcNow()}",
                                        "operationId": ""
                                    }
                                }
                            }
                        },
                        "else": {
                            "actions": {
                                "DHRefreshAAS_HttpStart": {
                                    "type": "Function",
                                    "inputs": {
                                        "body": "@string(body('Get_AAS_Model_Tables_JSON_Format')?['ResultSets']['Table1'][0]['RefreshPayload'])",
                                        "method": "POST",
                                        "headers": {
                                            "Content-Type": "application/json"
                                        },
                                        "function": {
                                            "id": "/subscriptions/8730775e-045c-47d1-a080-e3b9882cec01/resourceGroups/vn-rg-sa-sdp-solution-p/providers/Microsoft.Web/sites/vn-fa-sa-sdp-p-aas/functions/DHRefreshAAS_HttpStart"
                                        }
                                    }
                                },
                                "Until_Operation_Complete": {
                                    "type": "Until",
                                    "expression": "@or(equals(body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['status'], 'completed'), equals(body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['status'], 'failed'), equals(body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['isCompleted'], true))",
                                    "limit": {
                                        "count": 60,
                                        "timeout": "PT1H"
                                    },
                                    "actions": {
                                        "vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status": {
                                            "type": "Function",
                                            "inputs": {
                                                "method": "GET",
                                                "queries": {
                                                    "operationId": "@{body('DHRefreshAAS_HttpStart').operationId}"
                                                },
                                                "function": {
                                                    "id": "/subscriptions/8730775e-045c-47d1-a080-e3b9882cec01/resourceGroups/vn-rg-sa-sdp-solution-p/providers/Microsoft.Web/sites/vn-fa-sa-sdp-p-aas/functions/DHRefreshAAS_Status"
                                                }
                                            }
                                        },
                                        "Delay": {
                                            "type": "Wait",
                                            "inputs": {
                                                "interval": {
                                                    "count": 30,
                                                    "unit": "Second"
                                                }
                                            },
                                            "runAfter": {
                                                "vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status": [
                                                    "Succeeded"
                                                ]
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "DHRefreshAAS_HttpStart": [
                                            "Succeeded"
                                        ]
                                    }
                                },
                                "Append_Database_Result": {
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "varDatabaseResults",
                                        "value": {
                                            "database": "@{items('For_each')?['CubeModelName']}",
                                            "status": "@{body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['status']}",
                                            "startTime": "@{body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['startTime']}",
                                            "endTime": "@{body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['endTime']}",
                                            "elapsedMinutes": "@{body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['elapsedMinutes']}",
                                            "tablesCount": "@{body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['tablesCount']}",
                                            "operationId": "@{body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['operationId']}"
                                        }
                                    },
                                    "runAfter": {
                                        "Until_Operation_Complete": [
                                            "Succeeded",
                                            "Failed"
                                        ]
                                    }
                                },
                                "Collect_Slow_Tables": {
                                    "type": "If",
                                    "expression": {
                                        "and": [
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['topSlowTables']",
                                                        "@null"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "actions": {
                                        "For_each_SlowTable": {
                                            "type": "Foreach",
                                            "foreach": "@body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['topSlowTables']",
                                            "actions": {
                                                "Append_Slow_Table": {
                                                    "type": "AppendToArrayVariable",
                                                    "inputs": {
                                                        "name": "varSlowTables",
                                                        "value": {
                                                            "database": "@{items('For_each')?['CubeModelName']}",
                                                            "tableName": "@{items('For_each_SlowTable')?['tableName']}",
                                                            "partitionName": "@{items('For_each_SlowTable')?['partitionName']}",
                                                            "processingTimeSeconds": "@{items('For_each_SlowTable')?['processingTimeSeconds']}",
                                                            "rowCount": "@{items('For_each_SlowTable')?['rowCount']}"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "else": {
                                        "actions": {}
                                    },
                                    "runAfter": {
                                        "Append_Database_Result": [
                                            "Succeeded"
                                        ]
                                    }
                                },
                                "Condition_1": {
                                    "type": "If",
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['status']",
                                                    "failed"
                                                ]
                                            }
                                        ]
                                    },
                                    "actions": {
                                        "Parse_Failed_Result": {
                                            "type": "Compose",
                                            "inputs": "@json(replace(body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['result'], '\r\n', ''))"
                                        },
                                        "Build_Failure_Detail": {
                                            "type": "Select",
                                            "inputs": {
                                                "from": "@outputs('Parse_Failed_Result')?['refreshResults']",
                                                "select": "@concat(item()?['tableName'], ' -> ', if(equals(item()?['isSuccess'], true), 'Success', 'Failed'), ', Error: ', if(empty(item()?['errorMessage']), 'None', item()?['errorMessage']))"
                                            },
                                            "runAfter": {
                                                "Parse_Failed_Result": [
                                                    "Succeeded"
                                                ]
                                            }
                                        },
                                        "Get_Failed_Table_Guidance": {
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['sql-1']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "body": {
                                                    "query": "DECLARE @FailedTargets NVARCHAR(MAX) = '@{join(coalesce(body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['lastBatch']?['tables'], createArray()), '|')}'\nSELECT\n    COALESCE((\n        SELECT\n            cube.CubeTableName AS [table],\n            ISNULL(cube.Partition, '') AS partition,\n            COALESCE(NULLIF(LTRIM(RTRIM(cube.FixGuide)), ''), 'Review source view/query, create or refine partitions, and reduce the data window before re-running this table.') AS fixGuide,\n            COALESCE(NULLIF(LTRIM(RTRIM(cube.OwnerEmails)), ''), 'mina.my@deheus.com; Gina.Hai@deheus.com; Anton.Tuan@deheus.com') AS ownerEmails,\n            COALESCE(NULLIF(LTRIM(RTRIM(cube.GuardrailType)), ''), 'RuntimeFailure') AS guardrailType\n        FROM etl.datawarehouseandcubemapping cube\n        WHERE cube.CubeName = '@{items('For_each')?['CubeModelName']}'\n            AND EXISTS (\n                SELECT 1\n                FROM string_split(@FailedTargets, '|') failedTarget\n                WHERE LTRIM(RTRIM(failedTarget.value)) = cube.CubeTableName\n                    OR LTRIM(RTRIM(failedTarget.value)) = CONCAT(cube.CubeTableName, '::', ISNULL(cube.Partition, ''))\n            )\n        FOR JSON PATH\n    ), '[]') AS FailureGuidance,\n    COALESCE(NULLIF(STUFF((\n        SELECT DISTINCT ';' + COALESCE(NULLIF(LTRIM(RTRIM(cube.OwnerEmails)), ''), 'mina.my@deheus.com; Gina.Hai@deheus.com; Anton.Tuan@deheus.com')\n        FROM etl.datawarehouseandcubemapping cube\n        WHERE cube.CubeName = '@{items('For_each')?['CubeModelName']}'\n            AND EXISTS (\n                SELECT 1\n                FROM string_split(@FailedTargets, '|') failedTarget\n                WHERE LTRIM(RTRIM(failedTarget.value)) = cube.CubeTableName\n                    OR LTRIM(RTRIM(failedTarget.value)) = CONCAT(cube.CubeTableName, '::', ISNULL(cube.Partition, ''))\n            )\n        FOR XML PATH(''), TYPE\n    ).value('.', 'nvarchar(max)'), 1, 1, ''), ''), 'mina.my@deheus.com; Gina.Hai@deheus.com; Anton.Tuan@deheus.com') AS FailureRecipients"
                                                },
                                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/query/sql"
                                            },
                                            "runAfter": {
                                                "Parse_Failed_Result": [
                                                    "Succeeded"
                                                ]
                                            }
                                        },
                                        "Create_Failure_Guide_HTML": {
                                            "type": "Table",
                                            "inputs": {
                                                "from": "@json(coalesce(body('Get_Failed_Table_Guidance')?['ResultSets']?['Table1'][0]?['FailureGuidance'], '[]'))",
                                                "format": "HTML"
                                            },
                                            "runAfter": {
                                                "Get_Failed_Table_Guidance": [
                                                    "Succeeded"
                                                ]
                                            }
                                        },
                                        "Send_an_email_(V2)": {
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365-1']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "body": {
                                                    "To": "@{coalesce(body('Get_Failed_Table_Guidance')?['ResultSets']?['Table1'][0]?['FailureRecipients'], 'mina.my@deheus.com; Gina.Hai@deheus.com; Anton.Tuan@deheus.com')}",
                                                    "Subject": "[FAILED] Refresh Cube UAT - @{items('For_each')?['CubeModelName']}",
                                                    "Body": "<html><body style=\"font-family: Segoe UI, Arial, sans-serif; font-size: 14px; color: #333;\"><h2 style=\"color: #c0392b;\">Refresh Cube Failed (UAT)</h2><p>Cube model <b>@{items('For_each')?['CubeModelName']}</b> has encountered errors during refresh.</p><table style=\"border-collapse: collapse; width: 100%; margin: 16px 0;\"><tr style=\"background: #f8f9fa;\"><td style=\"padding: 8px 12px; border: 1px solid #dee2e6;\"><b>Created Time</b></td><td style=\"padding: 8px 12px; border: 1px solid #dee2e6;\">@{body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['startTime']}</td></tr><tr><td style=\"padding: 8px 12px; border: 1px solid #dee2e6;\"><b>Last Updated</b></td><td style=\"padding: 8px 12px; border: 1px solid #dee2e6;\">@{body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['endTime']}</td></tr><tr style=\"background: #f8f9fa;\"><td style=\"padding: 8px 12px; border: 1px solid #dee2e6;\"><b>Operation ID</b></td><td style=\"padding: 8px 12px; border: 1px solid #dee2e6;\">@{body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['operationId']}</td></tr><tr><td style=\"padding: 8px 12px; border: 1px solid #dee2e6;\"><b>Status</b></td><td style=\"padding: 8px 12px; border: 1px solid #dee2e6; color: #c0392b;\"><b>@{body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['status']}</b></td></tr><tr style=\"background: #f8f9fa;\"><td style=\"padding: 8px 12px; border: 1px solid #dee2e6;\"><b>Failure Source</b></td><td style=\"padding: 8px 12px; border: 1px solid #dee2e6;\">@{coalesce(body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['lastBatch']?['failureSource'], 'Unknown')}</td></tr><tr><td style=\"padding: 8px 12px; border: 1px solid #dee2e6;\"><b>Failure Category</b></td><td style=\"padding: 8px 12px; border: 1px solid #dee2e6;\">@{coalesce(body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['lastBatch']?['failureCategory'], 'Unknown')}</td></tr><tr style=\"background: #f8f9fa;\"><td style=\"padding: 8px 12px; border: 1px solid #dee2e6;\"><b>Last Batch Tables</b></td><td style=\"padding: 8px 12px; border: 1px solid #dee2e6;\">@{join(coalesce(body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['lastBatch']?['tables'], createArray()), '<br>')}</td></tr><tr><td style=\"padding: 8px 12px; border: 1px solid #dee2e6;\"><b>Last Batch Error</b></td><td style=\"padding: 8px 12px; border: 1px solid #dee2e6;\">@{coalesce(body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['lastBatch']?['error'], body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['errorMessage'], 'No detailed error returned')}</td></tr></table><h3>Fix Direction</h3><p>@{if(equals(body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['lastBatch']?['failureSource'], 'AzureSQLOrDataSource'), 'Check source view/query, ETL overlap, SQL transient errors, and data volume. Consider partitioning or reducing lookback.', if(equals(body('vn-fa-sa-sdp-p-aas-DHRefreshAAS_Status')?['lastBatch']?['failureCategory'], 'Timeout'), 'Check whether the command is still running server-side before retrying.', 'Check AAS capacity, memory pressure, model contention, and concurrent refresh activity.'))}</p><h3>Refresh Details</h3><p>@{join(body('Build_Failure_Detail'), '<br>')}</p><h3>Suggested Table Guides</h3>@{body('Create_Failure_Guide_HTML')}<br><p>Best regards,<br><b>Data Team</b></p></body></html>",
                                                    "From": "DataAnalyticsServices@deheus.com",
                                                    "Importance": "High"
                                                },
                                                "path": "/v2/Mail"
                                            },
                                            "runAfter": {
                                                "Build_Failure_Detail": [
                                                    "Succeeded"
                                                ],
                                                "Create_Failure_Guide_HTML": [
                                                    "Succeeded"
                                                ]
                                            }
                                        }
                                    },
                                    "else": {
                                        "actions": {}
                                    },
                                    "runAfter": {
                                        "Collect_Slow_Tables": [
                                            "Succeeded"
                                        ]
                                    }
                                }
                            }
                        },
                        "runAfter": {
                            "Ignored_Tables_Condition": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Scale_Up": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "concurrency": {
                        "repetitions": 1
                    }
                }
            },
            "Scale_Down": {
                "type": "Function",
                "inputs": {
                    "body": {},
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "function": {
                        "id": "/subscriptions/8730775e-045c-47d1-a080-e3b9882cec01/resourceGroups/vn-rg-sa-sdp-solution-p/providers/Microsoft.Web/sites/vn-fa-sa-sdp-p-aas/functions/DHRefreshAAS_ScaleDown"
                    }
                },
                "runAfter": {
                    "For_each": [
                        "Succeeded",
                        "Failed"
                    ]
                }
            },
            "Build_Summary_Table": {
                "type": "Select",
                "inputs": {
                    "from": "@variables('varDatabaseResults')",
                    "select": {
                        "Database": "@item()?['database']",
                        "Status": "@item()?['status']",
                        "Tables": "@item()?['tablesCount']",
                        "Duration (min)": "@item()?['elapsedMinutes']",
                        "Start Time": "@item()?['startTime']",
                        "End Time": "@item()?['endTime']",
                        "Operation ID": "@item()?['operationId']"
                    }
                },
                "runAfter": {
                    "Scale_Down": [
                        "Succeeded",
                        "Failed"
                    ]
                }
            },
            "Create_Summary_HTML": {
                "type": "Table",
                "inputs": {
                    "from": "@body('Build_Summary_Table')",
                    "format": "HTML"
                },
                "runAfter": {
                    "Build_Summary_Table": [
                        "Succeeded"
                    ]
                }
            },
            "Build_Slow_Tables": {
                "type": "Select",
                "inputs": {
                    "from": "@variables('varSlowTables')",
                    "select": {
                        "Database": "@item()?['database']",
                        "Table": "@item()?['tableName']",
                        "Partition": "@item()?['partitionName']",
                        "Processing Time (s)": "@item()?['processingTimeSeconds']",
                        "Row Count": "@item()?['rowCount']"
                    }
                },
                "runAfter": {
                    "Scale_Down": [
                        "Succeeded",
                        "Failed"
                    ]
                }
            },
            "Create_Slow_Tables_HTML": {
                "type": "Table",
                "inputs": {
                    "from": "@body('Build_Slow_Tables')",
                    "format": "HTML"
                },
                "runAfter": {
                    "Build_Slow_Tables": [
                        "Succeeded"
                    ]
                }
            },
            "Send_Summary_Email": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365-1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": {
                        "To": "mina.my@deheus.com; Gina.Hai@deheus.com; Anton.Tuan@deheus.com",
                        "Subject": "Refresh Cube UAT Summary - @{utcNow()}",
                        "Body": "<h2 class=\"editor-heading-h2\">Refresh Cube UAT Summary Report</h2><p class=\"editor-paragraph\">Total databases processed: @{length(variables('varDatabaseResults'))}</p><h3 class=\"editor-heading-h3\">Database Results@{body('Create_Summary_HTML')}<br></h3><h3 class=\"editor-heading-h3\">Top Slow Tables (for optimization)@{if(equals(length(variables('varSlowTables')), 0), '<p style=\"color: #7f8c8d;\">No slow table data available.</p>', body('Create_Slow_Tables_HTML'))}<br></h3><p class=\"editor-paragraph\">Best regards,<br><b><strong class=\"editor-text-bold\">Data Team</strong></b></p><br>",
                        "From": "DataAnalyticsServices@deheus.com",
                        "Importance": "Normal"
                    },
                    "path": "/v2/Mail"
                },
                "runAfter": {
                    "Create_Summary_HTML": [
                        "Succeeded"
                    ],
                    "Create_Slow_Tables_HTML": [
                        "Succeeded"
                    ]
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "sql-1": {
                    "id": "/subscriptions/8730775e-045c-47d1-a080-e3b9882cec01/providers/Microsoft.Web/locations/southeastasia/managedApis/sql",
                    "connectionId": "/subscriptions/8730775e-045c-47d1-a080-e3b9882cec01/resourceGroups/vn-rg-sa-sdp-solution-p/providers/Microsoft.Web/connections/sql-1",
                    "connectionName": "sql-1",
                    "connectionProperties": {}
                },
                "office365": {
                    "id": "/subscriptions/8730775e-045c-47d1-a080-e3b9882cec01/providers/Microsoft.Web/locations/southeastasia/managedApis/office365",
                    "connectionId": "/subscriptions/8730775e-045c-47d1-a080-e3b9882cec01/resourceGroups/vn-rg-sa-sdp-solution-p/providers/Microsoft.Web/connections/office365",
                    "connectionName": "office365",
                    "connectionProperties": {}
                },
                "office365-1": {
                    "id": "/subscriptions/8730775e-045c-47d1-a080-e3b9882cec01/providers/Microsoft.Web/locations/southeastasia/managedApis/office365",
                    "connectionId": "/subscriptions/8730775e-045c-47d1-a080-e3b9882cec01/resourceGroups/vn-rg-sa-sdp-solution-p/providers/Microsoft.Web/connections/office365-1",
                    "connectionName": "office365-1",
                    "connectionProperties": {}
                }
            }
        }
    }
}
